h1 {
    text-align: center;
}

#main_junk {
  width: 80%;
  max-width: 350px;
  background-color: burlywood;
  margin: auto;
  padding: 20px;
}

#div_goes_here {
  margin:auto;
  /* width: 80%; */
  max-width: 904px;
  height: 504px;
  border: 2px solid;
  border-radius: 5px;
}
