<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.5.0.min.js"
        crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        $("#connected").html("Maybe");
      } );

        var socket = io.connect();

        socket.on('connect', function() {
          console.log("--->Connected to Server");
          $("#connected").html("Yes");
          <!-- $("#connected").html("Yes"); -->
          socket.emit('my event', {data: 'I\'m connected!'});
        });

        socket.on('disconnect', function() {
          console.log("--->Disconnected from the Server");
          $("#connected").html("No");
          socket.emit('my event', {data: 'I\'ve become unconnected'});
        });
        
        socket.on('esp_data', function(message) {
          console.log("--->received esp_data");
          $("#little_guy").html("received: " + message.data);
        });
        
        socket.on('data', function(message) {
          console.log("---> received raw data");
          $("#little_guy").html(message);
        });

        socket.on('mqtt_message', function(message) {
          console.log("--> received mqtt message");
        $("#mqtt_message_text").html("<br>received: " + message.payload + "<br>from: " + message.topic);
        });

        socket.on('draw_plot', function(message) {
          console.log("--> call to draw_plot");
        $("#script_goes_here").html(message.plot_script);
        $("#div_goes_here").html(message.plot_div);
        });

    </script>
  </head>
  <body>
    <div id="top_of_page">
      <h1>Hello World!</h1>
    </div>
    <div id="main_junk">
      <div id = "connect_tag">
        <p >Connected: <span id="connected">...</span></p>
      </div>
      <div id="reload_tag">
        <h2 >The magic number is {{ num }}</h2>
      </div>
      <div id="results_tag">
        <h3 ><span id="device_direction">little device sent: </span><span id="little_guy"> initial: {{ data }}</span></h3>
      </div>
      <div id="server_reload_tag">
        <p>the total number of times we've been here: {{ big_num }}</p>
      </div>
      <div id="script_goes_here"></div>
      <div id="div_goes_here"></div>
      <div id="mqtt_test">
        <p>MQTT test: <span id="mqtt_message_text">...</span></p>
      </div>
    </div>
  </body>
</html>
